body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

header h1, footer p {
    margin: 0;
}

main {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 20px;
}
#formSection {
    flex: 1;
    background-color: gray;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#formSection h2 {
    margin-top: 0;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: 10px;
}

form input, form select {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #555;
}
#employeeCards {
    flex: 2;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: calc(33.33% - 20px);
    color: white;
    
}

.card h2 {
    margin-top: 0;
}

.card p {
    margin: 5px 0;
}

.card img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}
.social-media-links a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav li {
    display: inline;
    margin-right: 20px;
    text-align: center;
    font-size: larger;
}
input:focus
{
    background: #333;
    transform: scale(1.05);
    color:white;
}